Repository maxnatamo/Chart, changes with the labels that .github/labeler.yml gives for each.
All labels: chart, documentation, ci/cd

ci: Add SonarScanner
  .github/workflows/sonarcloud.yml
Labels: ci/cd

ci: Fix SonarScanner job
  .github/workflows/sonarcloud.yml
Labels: ci/cd

ci: Add test coverage to SonarCloud
  .github/workflows/sonarcloud.yml
Labels: ci/cd

fix: SonarCloud fixes
  src/Core/src/Errors/DefaultErrors.Request.cs
  src/Core/src/Execution/Extensions/DictionaryExtensions.cs
  src/Core/src/Types/Default/Directives/DeprecatedDirective.cs
  src/Core/src/Types/Default/Directives/IncludeDirective.cs
  src/Core/src/Types/Default/Directives/SkipDirective.cs
  src/Core/src/Types/Default/Directives/SpecifiedByDirective.cs
  src/Core/src/Types/Definitions/DirectiveDefinition.cs
  src/Core/src/Types/DirectiveLocation.cs
  src/Core/src/Validation/Extensions/QueryExecutationContextExtensions.cs
  src/Core/src/Validation/Rules/DirectivesAreInValidLocationRule.cs
  src/Core/test/Execution/Strategy/SerialExecutionStrategyImplementation/ExecuteTests.cs
  src/Language/benchmark/Parser/TokenizerBenchmark.cs
  src/Language/src/Definitions.cs
  src/Language/src/Keywords.cs
  src/Language/src/SchemaParser/Extensions/StringExtensions.cs
  src/Language/src/SchemaParser/SchemaParser.Directives.cs
  src/Language/src/SchemaParser/SchemaParser.cs
  src/Language/src/SchemaParser/Tokenizer.cs
  src/Language/src/SchemaWriter/SchemaWriter.Directives.cs
  src/Language/src/SyntaxTree/Definition/Directive/Location.cs
  src/Language/src/SyntaxTree/Definition/Directive/Locations.cs
  src/Language/src/SyntaxTree/GraphDescription.cs
  src/Language/src/SyntaxTree/GraphName.cs
  src/Language/src/SyntaxTree/GraphValue.cs
  src/Language/test/Parser/SchemaParser/DirectiveTests.cs
  src/Language/test/Parser/SchemaWriter/VisitGraphDirectiveDefinition.cs
  src/Utilities/src/DocumentPrinter/DocumentPrinter.Directives.cs
  src/Utilities/src/DocumentTraverser/DocumentTraverser.Directives.cs
  src/Utilities/src/DocumentTraverser/DocumentTraverser.cs
  src/Utilities/src/GraphNodeInfo.cs
  src/Utilities/test/DocumentPrinter/VisitGraphDirectiveDefinition.cs
Labels: chart

fix: SonarCloud fixes
  src/Language/benchmark/Parser/TokenizerBenchmark.cs
  src/Language/src/SchemaParser/Tokenizer.cs
  src/Language/src/SyntaxTree/GraphName.cs
Labels: chart

test: Add GraphName tests
  src/Utilities/test/GraphName/EmptyTests.cs
  src/Utilities/test/GraphName/EqualsTests.cs
  src/Utilities/test/GraphName/GraphNameTests.cs
Labels: chart

test: Add GraphFields tests
  src/Utilities/test/DocumentPrinter/VisitGraphFields.cs
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphFieldsTests.PrintsFieldWithArguments.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphFieldsTests.PrintsFieldWithDescription.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphFieldsTests.PrintsFieldWithDirectives.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphFieldsTests.PrintsNamedField.snap
Labels: chart

test: Add GraphDirective tests
  src/Utilities/test/DocumentPrinter/Visit.cs
  src/Utilities/test/DocumentPrinter/VisitGraphDirective.cs
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphDirectiveTests.PrintsDirectiveWithArguments.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphDirectiveTests.PrintsNamedDirective.snap
Labels: chart

ci: Remove auto-generated CI worlflows
  .build/Build.cs
Labels: ci/cd

fix(executor): Handle cancellation tokens
  src/Core/src/Execution/Processing/QueryExecutor.cs
Labels: chart

style: Minify exception
  src/Core/src/Execution/Pipeline/Middleware/Request/OperationResolverMiddleware.cs
Labels: chart

fix(resolver): Throw if field-resolving is cancelled
  src/Core/src/Execution/Processing/FieldResolver.cs
Labels: chart

feat(execution): Allow string queries
  src/Core/src/Execution/Processing/QueryExecutor.cs
Labels: chart

refactor: Move resolving of type attributes to separate class
  src/Core/src/Types/Extensions/RequestServiceExtensions.cs
  src/Core/src/Types/Registry/AttributeResolver.cs
  src/Core/src/Types/Registry/TypeCreator.cs
Labels: chart

fix(schema): Only infer root types when not already set
  src/Core/src/Execution/Schema/SchemaBuilder.Build.cs
Labels: chart

refactor: Remove ITypeDefinition interface
  src/Core/src/Execution/Processing/FieldExecutor.Completion.cs
  src/Core/src/Types/Composites/ListType.cs
  src/Core/src/Types/Composites/NonNullType.cs
  src/Core/src/Types/Default/Scalars/PlaceholderType.cs
  src/Core/src/Types/Definitions/ArgumentDefinition.cs
  src/Core/src/Types/Definitions/ArgumentDefinition`T.cs
  src/Core/src/Types/Definitions/InputFieldDefinition`T.cs
  src/Core/src/Types/Definitions/TypeDefinition.cs
  src/Core/src/Types/Extensions/TypeExtensions.cs
  src/Core/src/Types/Internal/RegisteredType.cs
  src/Core/src/Types/Registry/TypeCreator.Definitions.cs
  src/Core/src/Types/Registry/TypeCreator.cs
  src/Core/src/Types/Registry/TypeRegistrator.cs
  src/Core/src/Types/Registry/TypeRegistry.cs
  src/Core/src/Types/Registry/TypeResolver.cs
  src/Core/src/Types/Registry/ValueCoercer.cs
  src/Core/src/Types/TypeReference.cs
Labels: chart

refactor: Streamline SchemaBuilder
  src/Core/src/Execution/Schema/SchemaBuilder.Build.cs
  src/Core/src/Execution/Schema/SchemaBuilder.cs
Labels: chart

feat: Add Testing project
  .build/Build.Solution.cs
  src/Chart.slnf
  src/Core/src/Execution/Processing/QueryExecutor.cs
  src/Core/src/Execution/Schema/SchemaBuilder.cs
  src/Core/test/Execution/Processing/QueryExecutor/AccessorTests.cs
  src/Core/test/Execution/Processing/QueryExecutor/ExecuteAsyncTests.cs
  src/Core/test/Execution/Processing/QueryExecutor/__snapshots__/ExecuteAsyncTests.ExecuteAsync_ReturnsCorrectStringValue.snap
  src/Core/test/Execution/Processing/QueryExecutor/__snapshots__/ExecuteAsyncTests.ExecuteAsync_ReturnsOperationCanceledException_GivenCancellingRequest.snap
  src/Core/test/Execution/SchemaBuilder/BuildTests.cs
  src/Core/test/TestData/TestDirective.cs
  src/Core/test/TestData/TestScalar.cs
  src/Directory.Build.props
  src/Testing/Chart.Testing.sln
  src/Testing/src/Assertions/SchemaAssertions.cs
  src/Testing/src/Chart.Testing.csproj
  src/Testing/src/Extensions/SchemaExtensions.cs
Labels: chart, ci/cd

fix: SonarCloud fixes
  src/Core/src/Execution/Extensions/DictionaryExtensions.cs
  src/Language/src/SchemaParser/Tokenizer.cs
  src/Utilities/test/GraphName/GraphNameTests.cs
Labels: chart

style: Formatting fixes
  src/Core/src/Types/Registry/AttributeResolver.cs
  src/Core/test/TestData/TestDirective.cs
Labels: chart

test: Add tests for GraphValue
  src/Utilities/test/DocumentPrinter/VisitGraphValue.cs
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsBooleanField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsEnumField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsFloatField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsIntegerField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsListField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsNullField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsObjectField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsStringField.snap
  src/Utilities/test/DocumentPrinter/__snapshots__/VisitGraphValueTests.PrintsVariableField.snap
Labels: chart

test: Test correct method
  src/Language/src/SchemaParser/Tokenizer.cs
  src/Language/test/Parser/Tokenizer/ReadTokenTests.cs
Labels: chart

test: Add more tests
  src/Language/src/Definitions.cs
  src/Language/test/Definitions/IsDefinitionExecutableTests.cs
  src/Language/test/Parser/SchemaParser/DirectiveTests.cs
  src/Language/test/Parser/SchemaWriter/VisitGraphDirectives.cs
  src/Language/test/Parser/SchemaWriter/__snapshots__/VisitGraphDirectiveTests.Visit_PrintsDirectives.snap
  src/Language/test/Parser/Tokenizer/CommentTokenTests.cs
  src/Language/test/Parser/Tokenizer/GetNextTests.cs
Labels: chart

feat: Add initial examples
  examples/query-executor/Program.cs
  examples/query-executor/QueryExecutor.csproj
  examples/query-executor/README.md
  examples/services/Program.cs
  examples/services/README.md
  examples/services/Services.csproj
Labels: none

.github/labeler.yml:

"chart":
  - "src/**/*"

"documentation":
  - "docs/**/*.md"

"ci/cd":
  - ".build/**/*"
  - ".github/**/*"
